body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-container {
  width: 420px;
  background: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
}

h1 {
  text-align: center;
}

.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  flex-direction: row;
}

.input-area input {
  flex: 1;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.input-area button {
  padding: 12px 18px;
  border: none;
  background: #4facfe;
  color: white;
  border-radius: 8px;
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.filters button {
  flex: 1;
  margin: 0 5px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  background: #eee;
  cursor: pointer;
}

#all:hover {
  background-color: #4facfe;
  color: white;
}

#completed:hover {
  background-color: #4facfe;
  color: white;
}

#pending:hover {
  background-color: #4facfe;
  color: white;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f2f4f7;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.footer {
  text-align: center;
  margin-top: 15px;
  color: gray;
}

#todoList {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #f2f4f7;
  padding: 10px 15px;
  border-radius: 10px;
  margin-top: 10px;
}

li span {
  flex: 1;
  margin-left: 10px;
}

li div {
  display: flex;
  gap: 10px;
}

.deleteBtn,
.editBtn {
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid red;
  background-color: red;
  color: white;
  cursor: pointer;
}

.deleteBtn:hover,
.editBtn:hover {
  background-color: darkred;
}

.completed {
  text-decoration: line-through;
  color: gray;
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  cursor: pointer;
}
